                body {
                    background-color: #F6F7F8;
                }

                nav {
                    background-color: #3B2F2F;
                    height: 100px;
                    display: flex;
                }

                nav img {
                    width: 80px;
                    height: 80px;
                    margin: 5px;
                }

                .logo {
                    flex: 2;
                    margin: auto;
                    margin-left: 30px;
                }

                .links {
                    margin-right: 50px;
                }

                .links a {
                    line-height: 100px;
                    padding: 20px;
                    font-family: Verdana;
                    font-weight: bold;
                    color: #F6F7F8;
                }

                .links a:hover {
                    color: #ECDD6D;
                    text-decoration: none;

                }
                .header {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-auto-rows: auto;
                }

                .mainimg img {
                    margin-left: 25%;
                    width: 60%;
                    height: auto;
                }

                .side {
                    display: grid;
                    grid-template-rows: 80% 20%;
                    grid-gap: 10px;
                }

                .maintxt {
                    margin-top: 30%;
                    
                }

                .maintxt h2 {
                    font-size: 3vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 800;
                    text-align: left;
                }

                .maintxt h3 {
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 500;
                    text-align: left;
                    margin-left: 0px;
                    margin-top: 10px;
                }

                .maininfo {
                    margin-top: 30px;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    font-size: 1vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 600;
                }

                .email-info img {
                    width: 5%;
                    height: auto;
                }

                .email-info p:nth-of-type(1) {
                    display: inline;
                }

                .location-info img {
                    width: 3%;
                    height: auto;
                }

                .location-info p:nth-of-type(1) {
                    display: inline;
                }

                .break-box {
                    width: 100%;
                    height: 30px;
                    background-color: #3B2F2F;
                }

                .textbox {
                    margin: 100px;
                    text-align: center;
                }

                .textbox img {
                    display: inline-block;
                    width: 2.5%;
                    height: auto;
                    position: absolute;
                }

                .textbox h2 {
                    position: relative;
                    right: -10px;
                    display: inline-block;
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 800;
                }

                .servicescontainer {
                    display: grid;
                    grid-template-columns: 33% 33% 33%;
                }

                .serviceitem {
                    text-align: center;
                }

                .serviceitem img {
                    width: 30%;
                    height: auto;
                    margin: 20px;
                }

                .serviceitem h3 {
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 800;
                    color: #3B2F2F;
                }

                .serviceitem:nth-of-type(3) img {
                    width: 33%;
                    height: auto;
                }

                .space {
                    height: 70px;
                }

                .skillscontainer {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    padding: 398px;
                    grid-gap: 88px;
                    text-align: center;
                    padding-top: 40px;
                    padding-bottom: 30px;
                }

                .illustrator, .container-z {
                    text-align: center;
                }

                .container-z {
                    text-align: center;
                }

                .illustratoricons img {
                    width: 10%;
                    height: auto;
                }

                .illustratoricons {
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 400;
                }

                .container-x {
                    width: 100%;
                    background-color: #3B2F2F;
                    margin-top: 8px;
                }

                .skills {
                    text-align: right;
                    padding: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: white;
                }

                .ai {
                    width: 90%;
                    background-color: #EC6B6B;
                }

                .Photoshop {
                    width: 80%;
                    background-color: #EC6B6B;
                }

                .Autocad {
                    width: 50%;
                    background-color: #EC6B6B;
                }

                .html {
                    width: 60%;
                    background-color: #EC6B6B;
                }

                .css {
                    width: 70%;
                    background-color: #EC6B6B;
                }

                .bootstrap {
                    width: 50%;
                    background-color: #EC6B6B;
                }

                .projects {
                    display: grid;
                    grid-template-columns: 30% 30% 30%;
                    text-align: center;
                    margin: auto;
                    margin-left: 12%;
                }

                .projects img {
                    width: 80%;
                    height: auto;
                }

                .button {
                    display: grid;
                    grid-template-columns: auto;
                    text-align: center;
                    margin: 40px;
                }

                button {
                    font-size: 1vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 400;
                    width: 181px;
                    margin: auto;
                    text-align: center;
                    background-color: #3B2F2F;
                    color: #F6F7F8;
                    padding: 20px;
                }

                footer {
                    background-color: #3B2F2F;
                    display: grid;
                    grid-template-columns: auto auto;
                }

                .form {
                    margin: auto;
                    margin-left: 33%;
                    color: #F6F7F8;
                    width: 500px;
                }

                .logofinal img {
                    margin: 32px;
                    margin-left: 30%;
                    width: 31%;
                    height: auto;
                }

                .btn-info {
                    color: #fff;
                    background-color: #EC6B6B;
                    border-color: #EC6B6B;
                }

                .textbox1 {
                    margin: 15px;
                    text-align: left;
                    margin-left: 38%;
                }

                .textbox1 img {
                    display: inline-block;
                    width: 2.5%;
                    height: auto;
                    position: absolute;
                }

                .textbox1 h2 {
                    position: relative;
                    right: -10px;
                    display: inline-block;
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 800;
                    color: #F6F7F8;
                }

                .socialicon {
                    padding: 30px;
                    margin-left: 35%;
                }

                .socialicon img {
                    padding: 10px;
                }

                /* <!-- here start css for about page --> */

                .about {
                    margin: 50px;
                    padding: 10px;
                    padding-left: 30px;
                }

                .about h2 {
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 800;
                }

                .aboutcontainer {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: 10px;
                }

                .aboutcontainer img {
                    width: 50%;
                    height: auto;
                }

                .aboutcontainer p {
                    width: 800px;
                    margin: 100px;
                    margin-top: 10px;
                    font-size: 1.3vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 400;
                    line-height: 2em;
                    text-align: justify;
                }

                .cvbutton {
                    display: grid;
                    grid-template-columns: auto;
                    text-align: center;
                    margin: 40px;
                }

                .cvbutton button {
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 800;
                    width: 800px;
                    margin: auto;
                    text-align: center;
                    background-color: #3B2F2F;
                    color: #EC6B6B;
                    padding: 50px;
                }

                .cvbutton button:hover {
                    color: #ECDD6D;
                }

                .footerabout {
                    text-align: center;
                    margin-bottom: 50px;
                }

                .footerabout h2 , h3 {
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 800;
                    width: 800px;
                    margin: 0;
                    margin-top: 20px;
                    text-align: center;
                }

                .footerabout2 {
                    text-align: center;
                    margin-bottom: 50px;
                }

                .footerabout2 > h2 , h3 {
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 800;
                    width: 800px;
                    margin: auto;
                    margin-top: 50px;
                    text-align: center;
                }
                

                
                .fa {
                    padding: 20px;
                    font-size: 30px;
                    width: 50px;
                    text-align: center;
                    text-decoration: none;
                    margin: 5px 2px;
                }

                .fa:hover {
                    opacity: 0.7;
                }

                .fa-facebook {
                    background: #3B5998;
                    color: white;
                }

                .fa-twitter {
                    background: #55ACEE;
                    color: white;
                }

                .fa-google {
                    background: #dd4b39;
                    color: white;
                }

                .fa-linkedin {
                    background: #007bb5;
                    color: white;
                }

                /* <!-- here start css for about page --> */

                .myprojects {
                    margin: 50px;
                    padding: 10px;
                    padding-left: 30px;
                }

                .myprojects h2 {
                    font-size: 2vw;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 800;
                }

                .projectcontainer {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    grid-template-rows: auto auto auto;
                    text-align: center;
                    grid-gap: 10px;
                }

                .projectcontainer img {
                    width: 60%;
                    height: auto;
                }
              
                .box1 {
                    grid-column: 1/4;
                }

                .box1 img:hover {
                    width: 80%;
                    height: auto;
                    border: solid 2px #dd4b39;
                }

                .box2 img:hover {
                    width: 100%;
                    height: auto;
                    border: solid 2px #dd4b39;

                }

                .box3 img:hover {
                    width: 100%;
                    height: auto;
                    border: solid 2px #dd4b39;

                }

                .box4 img:hover {
                    width: 100%;
                    height: auto;
                    border: solid 2px #dd4b39;

                }

                .box5 img:hover {
                    width: 100%;
                    height: auto;
                    border: solid 2px #dd4b39;

                }

                .box6 img:hover {
                    width: 100%;
                    height: auto;
                    border: solid 2px #dd4b39;

                }

                .box7 img:hover {
                    width: 100%;
                    height: auto;
                    border: solid 2px #dd4b39;

                }



